html{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
body{
    background-color: rgb(0, 0, 0);
}
.intro{
    display: inline-block;
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 50%;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.my-img{
    border-radius: 50%;
    box-shadow: 0 0px 10000px #ff3f3f
}
.my-name{
    margin: 0;
    color: rgb(252, 252, 252);
    font-size: 2rem;
}
.my-name h1{
    margin-bottom: 5px;
}
.my-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.identity{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.social-media{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.social-media img{
    filter: invert(39%) sepia(68%) saturate(4549%) hue-rotate(338deg) brightness(103%) contrast(102%);
    transition: filter, transform 0.15s;
}
.social-media img:hover{
    filter: invert(31%) sepia(88%) saturate(7452%) hue-rotate(353deg) brightness(106%) contrast(97%);
    transform: scale(1.2);
}
.social-media img:active{
    filter: invert(39%) sepia(68%) saturate(4549%) hue-rotate(338deg) brightness(103%) contrast(102%);
}
.social-media a{
    padding: 5px;
}
.scroll{
    padding: 10px;
    border-radius: 50%;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    transition: padding 0.55s;
}
.scroll-cover{
    background-position: center;
    transition: background 0.8s;
    border-radius: 50%;
    padding: 20px;
    
}
.fa-scroll{
    color: white;
}
.scroll-cover:hover {
    background: #ff3f3f27 radial-gradient(circle, transparent 1%, #ff3f3f11 1%) center/15000%;
    
}
.scroll-cover:active {
background-color: #ff3f3faf;
background-size: 100%;
transition: background 0s;
}
.scroll:hover{
    padding:15px
}
.scroll button{
    background-color:transparent;
    border: none;
}
.my-talents{
    display: flex;
    flex-direction: row;
    color: white;
    margin-bottom: 10px;
}
.my-talents h3{
    margin: 0;
    font-size: 0.95rem;
    font-weight: 100;
    padding: 0px 5px 0px 5px;
}
.vl {
    border-left: 2px solid #ff3f3f;
    height: 20px;
  }
  @media only screen and (min-width: 1080px) {
    html{
        font-size: 18px;
    }
    .social-media img{
        width: 40px;
        height: 40px;
    }
  }